<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'></meta>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'></meta>
    <title>Catalog</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'></meta>
</head>
<body>
    <div>
        <a th:href="@{/devs}">К пользователям</a>
        <a th:href="@{/dev}">Создать нового пользователя</a>
    </div>
</body>
</html>
